adblockparser==0.7
aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==23.2.0
Automat==22.10.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==6.0.0
bokeh==3.3.3
brokenaxes==0.5.0
brotlipy==0.7.0
browsermob-proxy==0.8.0
bs4==0.0.1
cached-property==1.5.2
Cartopy==0.22.0
cattrs==23.2.3
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorlover==0.3.0
comm==0.1.2
conda==4.12.0
constantly==23.10.4
contourpy==1.0.7
cssselect==1.2.0
cufflinks==0.17.3
cycler==0.11.0
data==0.4
dateparser==1.1.8
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
dpkt==1.9.8
EasyProcess==1.1
EditorConfig==0.12.3
email-reply-parser==0.5.9
entrypoint2==1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==1.2.0
fastapi==0.95.0
fastjsonschema==2.16.3
filelock==3.9.0
fiona==1.9.5
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
funcsigs==1.0.2
future==0.18.3
gdown==4.6.2
geopandas==0.14.2
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
haralyzer==2.1.1
hpack==3.0.0
hstspreload==2022.11.1
httpcore==0.9.1
httptools==0.5.0
httpx==0.13.3
huggingface-hub==0.11.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.4
imageio==2.31.4
importlib-metadata==6.0.0
incremental==22.10.0
ipykernel==6.21.2
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsbeautifier==1.14.7
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kaleido==0.2.1
kiwisolver==1.4.4
latex==0.7.0
lazy_loader==0.3
lml==0.1.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mistune==2.0.5
mizani==0.11.0
mlxtend==0.22.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
multidict==6.0.4
Naked==0.1.32
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.1
newsapi-python==0.2.7
newscatcherapi==0.7.2
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.2
opencv-python==4.7.0.72
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
pandas==2.2.1
pandas-bokeh==0.5.5
pandocfilters==1.5.0
parsel==1.8.1
parso==0.8.3
patsy==0.5.6
pexpect==4.8.0
pgeocode==0.4.1
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
plotly==5.11.0
plotnine==0.13.2
prettytable==3.10.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
Protego==0.3.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycosat==0.6.3
pycryptodome==3.17
pydantic==1.10.7
PyDispatcher==2.0.7
pyecharts==2.0.5
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pyexcel-xlsxw==0.6.1
PyGetWindow==0.0.9
Pygments==2.14.0
PyMsgBox==1.0.9
PyMySQL==1.1.0
pyobjc-core==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyobjc-framework-Quartz==9.1.1
pyparsing==3.0.9
pyperclip==1.8.2
pyproj==3.6.1
PyRect==0.2.0
pyrsistent==0.19.3
pyscreenshot==3.1
PyScreeze==0.1.29
pyshp==2.3.1
python-dateutil==2.8.2
python-dotenv==0.14.0
python-json-logger==2.0.7
pytweening==1.0.7
pytz==2022.6
PyVirtualDisplay==3.0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
queuelib==1.6.2
redirect-chain==0.2.1
regex==2022.10.31
requests==2.28.2
requests-cache==1.1.1
requests-file==1.5.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rubicon-objc==0.4.6
SciencePlots==2.0.1
scikit-image==0.21.0
scikit-learn==1.1.3
scipy==1.11.2
Scrapy==2.11.0
scrapy-wayback-machine==1.0.3
seaborn==0.12.2
selenium==4.6.0
Send2Trash==1.8.0
service-identity==24.1.0
shapely==2.0.2
shellescape==3.8.1
shutilwhich==1.1.0
simplejson==3.19.2
sklearn==0.0.post1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.0.1
stack-data==0.6.2
starlette==0.26.1
statsmodels==0.14.1
sympy==1.12
tempdir==0.7.1
tenacity==8.1.0
terminado==0.17.1
textblob==0.18.0.post0
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2023.9.18
tinycss2==1.2.1
tld==0.12.6
tldextract==3.4.1
tokenizers==0.13.2
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.24.0
trio==0.22.0
trio-websocket==0.9.2
Twisted==22.10.0
typing_extensions==4.5.0
tzdata==2024.1
tzlocal==5.0.1
undetected-chromedriver==3.1.6
unicodecsv==0.14.1
uri-template==1.2.0
url-normalize==1.4.3
urllib3==1.26.14
uvicorn==0.21.1
uvloop==0.17.0
vt-py==0.17.3
w3lib==2.1.2
watchfiles==0.18.1
wayback-machine-scraper==1.0.8
wcwidth==0.2.6
webcolors==1.12
webdriver-manager==4.0.0
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
widgetsnbextension==4.0.5
wordcloud==1.9.3
wsproto==1.2.0
xgboost==2.0.3
XlsxWriter==3.1.2
xyzservices==2023.10.1
yarl==1.8.2
zipp==3.14.0
zope.interface==6.1